@model List<Gruppeoppgave1.Model.Order>

@{
    ViewBag.Title = "ListProfile";
}

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black; font-size:18px">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/Home/Index" class="navbar-brand brand"><i class="fa fa-codepen"></i><img src="~/Content/Image/Logo.png" alt="Logo" style="width:100px;height:30px;"></a>
        </div>
        <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> @Html.ActionLink("Logout", "Loggut", "Home")</li>
            </ul>
            
        </div><!-- /.navbar-collapse -->
    </div>
</div>


<div class="container">
    <h2>Kjøpte filmer</h2>
    <br/>


    <table class="table table-striped" style="font-size: 18px;">
        <tr>
            <th>
                Ordre data
            </th>
            <th>
                Film
            </th>
            <th>
                Kategori
            </th>
            <th>
                Pris
            </th>

        </tr>

        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.OrdreDate
                </td>
                <td>
                    @order.FilmNavn
                </td>
                <td>
                    @order.FilmKategori
                </td>
                <td>
                    @order.FilmPris
                </td>

            </tr>
        }

    </table>
</div>

